<template>
  <div>
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header card-header-primary">
          <h4 class="card-title mt-0">All Clients.</h4>
          <p class="card-category">SurgeCode Web Solutions</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class>
                <tr>
                  <th>ID</th>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>phone</th>
                  <th>Created Date</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="client in clientDetails" :key="client.id">
                  <td>{{ client.id }}</td>
                  <td>{{ client.fullname }}</td>
                  <td>{{ client.email }}</td>
                  <td>{{ client.phone }}</td>
                  <td>{{ client.created_at }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      clientDetails: {}
    };
  },

  methods: {
    getClientDetails() {
      axios.get("api/getClients").then(({ data }) => {
        this.clientDetails = data.data;
      });
    }
  },
  created() {
    this.getClientDetails();
  }
};
</script>
