<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">people</i>
              </div>
              <p class="card-category">Clients</p>
              <h3
                class="card-title"
                v-for="contact in contacts"
                :key="contact.id"
              >{{ contacts.length }}</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">palette</i>
              </div>
              <p class="card-category">Developers/Designers</p>
              <h3 class="card-title">$34,245</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">keyboard</i>
              </div>
              <p class="card-category">Writers</p>
              <h3 class="card-title">75</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      // total data from db for individual tables
      contacts: {}
    };
  },

  methods: {
    getTotalCLients: function getTotalCLients() {
      axios.get("api/getClients").then(({ data }) => {
        this.contacts = data.data;
      });
    }
  },

  created() {
    this.getTotalCLients();
  }
};
</script>
