html {
    font-size: 62.5%;

    // default font 1rem = 10px
    @include responsive(tab-landscape) {
        font-size: 50%;

        //  1rem = 8px 8/16 = 50%
    }


    @include responsive(tab-portrait) {
        font-size: 37.5%;

        //  1rem = 6px 6/16 = 37.5%
    }


    @include responsive(phones) {
        font-size: 35.25%;

        //  1rem = 5px 5/16 = 31.25%
    }


    @include responsive(phones) {
        font-size: 35.25%;

        //  1rem = 5px 5/16 = 31.25%
    }
}

/*  just a comment */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: inherit;
}

// body styles
body {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    line-height: 1.7;
    color: $grey-color;
    box-sizing: border-box;
}

// header styling for landing.blade.php
.header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to right bottom, $primary-light, $primary-dark), url("../img/static/code.jpeg");
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

    @include responsive(ipad) {
        height: 80vh;
        clip-path: polygon(0 0, 100% 0, 100% 72vh, 0 100%);
    }


    @include responsive(tab-portrait) {
        height: 100vh;
        clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
    }


    @include responsive(phone-landscape) {
        height: 100vh;
        clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
    }


    @include responsive(phones) {
        height: 75vh;
        clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
    }


    @include responsive(phone-xs) {
        height: 88vh;
        clip-path: polygon(0 0, 100% 0, 100% 82vh, 0 100%);
    }


    &__logo-box {
        position: absolute;
        top: 2rem;
        left: -1rem;

        @include responsive(phone-landscape) {
            top: 6rem;
            left: 1rem;
        }


        @include responsive(phone-xs) {
            top: 1rem;
            left: 0rem;
        }
    }

    &__logo {
        height: 15rem;

        @include responsive(ipad) {
            height: 18rem;
        }


        @include responsive(phone-landscape) {
            height: 12rem;
        }
    }

    // hero text at landing page
    &__hero-container {
        position: absolute;
        top: 50%;
        left: 35%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        @include responsive(tab-portrait) {
            top: 55%;
            left: 38%;
            margin-top: 1rem;
        }


        @include responsive(phone-landscape) {
            top: 58%;
            left: 38%;
            margin-top: 0;
        }


        @include responsive(phones) {
            top: 46%;
            left: 38%;
            margin-top: 0;
        }


        @include responsive(phones) {
            top: 46%;
            left: 48%;
            margin-top: 0;
            width: 85%;
        }
    }
}

.heading-primary {
    color: $pure-white;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-bottom: 4rem;

    &--main {
        display: block;
        font-size: 3.5rem;
        font-weight: 800;
        letter-spacing: .7rem;
        -webkit-animation-name: moveInLeft;
        -moz-animation-name: moveInLeft;
        -o-animation-name: moveInLeft;
        animation-name: moveInLeft;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -o-animation-duration: 1s;
        animation-duration: 1s;

        @include responsive(ipad) {
            font-size: 3rem;
            letter-spacing: .3rem;
        }


        @include responsive(tab-portrait) {
            font-size: 3rem;
            letter-spacing: .3rem;
        }


        @include responsive(phone-portrait) {
            font-size: 2rem;
            letter-spacing: .3rem;
        }


        @include responsive(phones) {
            font-size: 2.5rem;
            letter-spacing: .3rem;
        }
    }

    &--sub {
        display: block;
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: .2rem;
        max-width: 70%;
        -webkit-animation: moveInRight 1s ease-out;
        -moz-animation: moveInRight 1s ease-out;
        -o-animation: moveInRight 1s ease-out;
        animation: moveInRight 1s ease-out;

        @include responsive(phone-landscape) {
            max-width: 100%;
            font-size: 1.3rem;
        }


        @include responsive(phones) {
            max-width: 100%;
            font-size: 1.5rem;
        }
    }
}

// hero text animations
@keyframes moveInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    80% {
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(10rem);
        -moz-transform: translateX(10rem);
        -ms-transform: translateX(10rem);
        -o-transform: translateX(10rem);
        transform: translateX(10rem);
    }

    80% {
        -webkit-transform: translateX(-1rem);
        -moz-transform: translateX(-1rem);
        -ms-transform: translateX(-1rem);
        -o-transform: translateX(-1rem);
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(6rem);
        -moz-transform: translateY(6rem);
        -ms-transform: translateY(6rem);
        -o-transform: translateY(6rem);
        transform: translateY(6rem);
    }

    80% {
        -webkit-transform: translateY(-0.8rem);
        -moz-transform: translateY(-0.8rem);
        -ms-transform: translateY(-0.8rem);
        -o-transform: translateY(-0.8rem);
        transform: translateY(-0.8rem);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }
}

// styling for buttons
.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        margin-right: .5em;
        display: inline-block;
        -webkit-border-radius: 10rem;
        border-radius: 10rem;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -ms-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        position: relative;
        text-align: center;
        font-size: 1.3rem;

        @include responsive(phones) {
            padding: 1.5rem 3rem;
            font-size: 1.5rem;
        }


        // extra styles for <button> elements
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-0.3rem);
        -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);

        &::after {
            transform: scaleX(1.5) scaleY(1.7);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-0.1rem);
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    }

    &:disabled {
        background-color: lighten($primary-light, 25%);
        cursor: not-allowed;
        transform: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    &--white {
        background-color: $pure-white;
        color: $black-grey;
        font-weight: 600;

        &::after {
            background-color: $pure-white;
        }
    }

    &--gradient {
        background-color: $primary-light;
        color: $pure-white;
        font-weight: 600;

        &::after {
            background-color: $primary-light;
        }
    }

    &::after {
        content: "";
        height: 100%;
        width: 100%;
        -webkit-border-radius: 10rem;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--black {
        background-color: $pure-black;
        color: $pure-white;
        font-weight: 400;
    }

    // animated button class
    &--animated {
        animation: moveInBottom 1.2s ease-in-out .3s;
        animation-fill-mode: backwards;
    }
}

// STYLES FOR THE ABOUT SECTION
.section-about {
    background-color: $grey-light-1;
    margin-top: -15vh;
    padding: 25rem 0;

    @include responsive(phones) {
        padding: 20rem 0;
        margin-top: -10vh;
    }
}

.heading-secondary {
    background-image: linear-gradient(to right, $primary-light, $primary-dark);
    font-size: 3.5rem;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    -o-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all .2s;

    &:hover {
        -webkit-transform: skewY(2deg) skewX(15deg);
        -moz-transform: skewY(2deg) skewX(15deg);
        -ms-transform: skewY(2deg) skewX(15deg);
        -o-transform: skewY(2deg) skewX(15deg);
        transform: skewY(2deg) skewX(15deg);
    }
}

.heading-small {
    font-size: $text-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $text-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.btn-text {
    &,
    &:link,
    &:visited {
        color: $primary-light;
        display: inline-block;
        text-decoration: none;
        border: 0;
        border-bottom: 1px solid $primary-light;
        padding: .3rem;
        font-size: 2.4rem;
        font-weight: 600;
        transition: all .3s;
        background: transparent;
    }

    &:hover {
        background: $primary-light;
        color: $grey-light-1;
        box-shadow: 0 1rem 2rem rgba($pure-black, 0.15);
        transform: translateY(-2px);
    }

    &:active {
        -webkit-box-shadow: 0 0.5rem 1rem rgba($pure-black, 0.15);
        box-shadow: 0 0.5rem 1rem rgba($pure-black, 0.15);
        transform: translateY(0);
    }
}

.img-wrapper {
    position: relative;

    &__photo {
        width: 60%;
        box-shadow: 0 1.5rem 4rem rgba($pure-black, 0.4);
        -webkit-border-radius: 2px;
        border-radius: 2px;
        position: absolute;
        z-index: 5;
        outline-offset: 1.4rem;
        transition: all .3s;

        @include responsive(phones) {
            width: 33.333%;
            float: left;
            position: relative;
            box-shadow: 0 1.5rem 4rem rgba($pure-black, 0.4);
        }


        &--p1 {
            left: 0;
            top: -2rem;

            @include responsive(phones) {
                top: 3rem;
                transform: scale(1.2);
            }
        }

        &--p2 {
            right: 0;
            top: 2rem;

            @include responsive(phones) {
                top: 0;
                transform: scale(1.5);
            }
        }

        &--p3 {
            left: 20%;
            top: 10rem;

            @include responsive(phones) {
                top: 3rem;
                left: 0;
                transform: scale(1.2);
                z-index: 0;
            }
        }

        &:hover {
            transform: scale(1.1) translateY(-1rem);
            box-shadow: 0 2.5rem 4rem rgba($pure-black, 0.5);
            z-index: 30;
            outline: 1rem solid $primary-light;

            @include responsive(phones) {
                transform: scale(1.4) translateY(-1rem);
            }
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(1);
    }
}

// styles for features section
.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, $primary-light, $primary-dark), url("../img/static/plan.jpg");
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    transform: skewY(-7deg);
    margin-top: -7rem;

    @include responsive(phones) {
        padding: 20rem 0;
    }


    & > * {
        transform: skewY(7deg);
    }
}

.feature-box {
    background: rgba($pure-white, 0.8);
    font-size: 1.5rem;
    padding: 2.2rem;
    text-align: center;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba($pure-black, 0.15);
    box-shadow: 0 1.5rem 4rem rgba($pure-black, 0.15);
    transition: transform .3s;

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

    &__icon {
        font-size: 6rem;
        display: inline-block;
        margin-bottom: .5rem;
        background-image: linear-gradient(to right, $primary-light, $primary-dark);
        -o-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    span {
        display: block;
        width: 100%;

        i {
            color: green;
        }
    }
}

// Bookings section design
.section-bookings {
    padding: 15rem 0;
    background: linear-gradient(to right bottom, $primary-dark, $primary-light);
}

.book {
    background-image: linear-gradient(96deg, rgb(211, 230, 223) 0%, rgba(219, 218, 226, 0.9) 50%, transparent 50%), url("../img/static/book.jpg");
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-border-radius: .3rem;
    border-radius: .3rem;
    background-position: center right;
    box-shadow: 0 1.5rem 4rem rgba($pure-black, 0.4);

    @include responsive(ipad) {
        background-image: linear-gradient(90deg, rgb(211, 230, 223) 0%, rgba(219, 218, 226, 0.9) 70%, transparent 70%), url("../img/static/book.jpg");
    }


    @include responsive(phone-landscape) {
        background-image: linear-gradient(90deg, rgb(211, 230, 223) 0%, rgba(219, 218, 226, 0.9) 70%, transparent 70%), url("../img/static/book.jpg");
    }


    @include responsive(phones) {
        background-image: linear-gradient(90deg, rgb(211, 230, 223) 0%, rgba(219, 218, 226, 0.9) 100%, transparent 100%), url("../img/static/book.jpg");
    }


    p {
        padding: 2rem 0;

        span {
            display: block;
            font-size: 1.4rem;
            font-weight: 300;
            color: $grey-dark-2;
        }
    }

    &__bookings-form {
        width: 50%;
        padding: 6rem;

        @include responsive(ipad) {
            width: 70%;
            padding: 4rem;
        }


        @include responsive(phone-landscape) {
            width: 70%;
            padding: 4rem;
        }


        @include responsive(phones) {
            width: 100%;
            padding: 4rem;
        }
    }
}

.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        font-family: inherit;
        color: inherit;
        border-radius: 2px;
        background-color: rgba($pure-white, 0.5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($pure-black, 0.1);
            border-bottom: 3px solid $primary-light;
        }

        &:focus:invalid {
            border-bottom: 3px solid $error-color;
        }

        &::-webkit-input-placeholder {
            color: $grey-dark-1;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}

// footer section styles
.footer {
    background-color: $grey-dark-2;
    color: $grey-light-1;
    padding: 1rem 0;
    font-size: 1.4rem;

    @include responsive(tab-portrait) {
        padding: 8rem 0;
    }


    @include responsive(phones) {
        padding: 8rem 0;
    }


    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__logo-box {
        text-align: center;
    }

    &__logo {
        width: 30rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $grey-light-2;
        padding-top: 2rem;
        display: inline-block;

        @include responsive(tab-portrait) {
            width: 100%;
            text-align: center;
        }


        @include responsive(phones) {
            width: 100%;
            text-align: center;
            float: none;
        }
    }

    &__links {
        &:link,
        &:visited {
            background-color: $grey-dark-2;
            color: $grey-dark-1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $primary-light;
            box-shadow: 0 1rem 2rem rgba($pure-black, 0.4);
            transform: rotate(6deg) scale(1.3);
        }
    }

    &__copyright {
        border-top: 1px solid $grey-light-2;
        background-color: $grey-dark-2;
        padding-top: 2rem;
        width: 80%;
        float: right;

        @include responsive(phones) {
            width: 100%;
            text-align: left;
        }
    }
}

.lang-icon {
    text-align: center;
    display: inline-block;
    width: 10rem;
}

// navigation styles
.navigation {
    &__checkbox {
        display: none;
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($nav-color-light, $nav-color-dark);
        z-index: 10;
        transition: transform .8s;

        @include responsive(phone-landscape) {
            top: 8.5rem;
        }


        @include responsive(phones) {
            top: 4.5rem;
        }
    }

    &__button {
        background-color: $pure-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 20;
        box-shadow: 0 1rem 3rem rgba($pure-black, 0.2);
        text-align: center;
        cursor: pointer;

        @include responsive(phone-landscape) {
            top: 8.5rem;
        }


        @include responsive(phones) {
            top: 4rem;
        }
    }

    &__nav {
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 15;
        opacity: 0;
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        // @include absoluteCenter;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;

        @include responsive(phones) {
            top: 45%;
        }
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            font-size: 3rem;
            font-weight: 300;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            color: $pure-white;
            padding: 1rem 2rem;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $pure-white 50%);
            -webkit-background-size: 240% !important;
            -o-background-size: 240% !important;
            background-size: 240% !important;
            transition: all .4s;
        }

        &:hover,
        &:active {
            -webkit-background-position: 100% !important;
            -o-background-position: 100% !important;
            background-position: 100% !important;
            color: $nav-color-light;
            transform: translateX(1rem);
        }
    }

    // select child elements using the sibling selector
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    // icons
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $grey-dark-2;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }
}

// Team section styles
.team-section {
    background-color: $grey-light-1;
    margin-top: -15rem;
    padding: 20rem 0;
}

.card {
    position: relative;
    box-shadow: 0 1.5rem 4rem rgba($pure-black, 0.2);
    border-radius: .5rem;
    overflow: hidden;
    width: 100%;
    transition: all .3s ease;

    &__image {
        height: 23rem;
        background-image: linear-gradient(to right bottom, $primary-dark, $primary-light), url(../img/static/plan.jpg);
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    &__heading {
        font-size: 2rem;
        color: $pure-white;
        text-transform: uppercase;
        font-weight: 300;
        text-align: right;
        position: absolute;
        top: 6rem;
        left: 14rem;
        width: 54%;

        @include responsive(phones) {
            width: 25%;
            left: 35rem;
            font-size: 2.4rem;
            top: 8rem;
        }


        @include responsive(phone-xs) {
            width: 25%;
            left: 24rem;
            font-size: 2.4rem;
            top: 8rem;
        }
    }

    &__heading-span {
        padding: .8rem 1.5rem;
        -webkit-box-decoration-break: clone;
        -moz-box-decoration-break: clone;
        box-decoration-break: clone;
        background: linear-gradient(to right bottom, rgba($primary-dark, 0.85), rgba($primary-light, 0.8));
    }

    &__dev-img {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;

        & img {
            width: 16rem;
            -webkit-border-radius: 5rem;
            border-radius: 8rem;

            @include responsive(phones) {
                width: 12rem;
                -webkit-border-radius: 6rem;
                border-radius: 6rem;
            }
        }
    }

    &__details {
        margin: 10rem 0 2rem 0;
        position: relative;
        display: block;
        text-align: center;

        h4 {
            font-size: 2.4rem;
            font-weight: 800;
        }

        h5 {
            font-size: 1.6rem;
            font-weight: 600;
        }
    }

    &__social-links {
        text-align: center;
        margin: 1rem 0 3rem 0;

        p {
            font-size: 1.3rem;
        }

        img {
            margin-top: 2rem;
            width: 5rem;
            padding: .8rem;

            @include responsive(phones) {
                width: 6rem;
            }
        }
    }
}

.section-connect {
    background: linear-gradient(to right bottom, rgba($pure-black, 0.6), rgba($pure-black, 0.8)), url(../img/static/plan.jpg);
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 30rem;
    background-attachment: fixed;
    text-align: center;
}

.social {
    padding: 10rem 0;
    text-align: center;
    display: block;
    position: relative;

    @include responsive(phone-xs) {
        padding: 3rem 0;
    }


    p {
        // display: inline-block;
        font-weight: 600;
        font-size: 2.6rem;
        color: $pure-white;
        position: absolute;
        float: left;
        top: 50%;
        left: 18%;
        transform: translate(-50%, -50%);

        @include responsive(ipad) {
            display: block;
            position: relative;
            float: none;
            top: 0;
            left: 0;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
        }


        @include responsive(phone-landscape) {
            width: 45% !important;
            margin-right: $gutter-horizontal-sm;
        }


        @include responsive(phones) {
            display: block;
            position: relative;
            float: none;
            top: 0;
            left: 0;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
            width: 100% !important;
        }
    }

    img {
        width: 10rem;
        padding: 2rem;
    }
}

.heading-4 {
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: .3rem;
    color: $grey-light-2;
    padding: 1rem;
}

.subheading-2 {
    color: $grey-light-2;
    font-size: 1.6rem;
    font-weight: 300;
}

// css loader for forms
.loader {
    @include absoluteCenter;

    z-index: 10;
}

.popup {
    background: rgba($pure-black, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

    &__active {
        opacity: 1;
        visibility: visible;
    }

    @include responsive(phones) {
        display: block;
    }


    &__active &__content {
        -webkit-transform: translate(-50%, -50%) scale(1);
        -moz-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        -o-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    &__content {
        @include absoluteCenter;

        background: $pure-white;
        box-shadow: 0 2rem 4rem rgba($pure-black, 0.2);
        -webkit-border-radius: 5px;
        border-radius: 5px;
        overflow: hidden;
        width: 85%;
        display: table;
        padding: 3rem;
        -webkit-transform: translate(-50%, -50%) scale(0.25);
        -moz-transform: translate(-50%, -50%) scale(0.25);
        -ms-transform: translate(-50%, -50%) scale(0.25);
        -o-transform: translate(-50%, -50%) scale(0.25);
        transform: translate(-50%, -50%) scale(0.25);
        opacity: 0;
        -webkit-transition: all .5s .2s;
        -moz-transition: all .5s .2s;
        -ms-transition: all .5s .2s;
        -o-transition: all .5s .2s;
        transition: all .5s .2s;

        @include responsive(phones) {
            width: 90%;
        }
    }

    &__left {
        width: 33.3333%;
        display: table-cell;
         @include responsive(phones) {
            display: none;
        }
    }

    &__right {
        width: 66.66666%;
        display: table-cell;
        vertical-align: middle;
        padding-left: 6rem;
          @include responsive(phones) {
            width: 90%;
            padding-left: 3rem;
        }
    }

    &__img {
        display: block;
        width: 100%;
        margin-top: 1rem;
    }

    &__toptext {
        width: 80%;
        padding-left: 2rem;
    }

    p {
        font-size: 1.4rem;
    }

    .form__input {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .form__group:not(:last-child) {
        margin-top: 2rem;
    }

    .form {
        padding-left: 2rem;
    }

    &__close {
        &,
        &:visited,
        &:link {
            color: $grey-dark-2;
            position: absolute;
            top: .2rem;
            right: 2.5rem;
            font-size: 5rem;
            text-decoration: none;
            display: inline-block;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            border: 0;
            background: transparent;
        }

        &:hover {
            color: $primary-light;
        }
    }
}