.row {
    max-width: $grid-width;
    margin: 0 auto;

    @include responsive(ipad) {
        padding: 0 3rem;
    }


    @include responsive(tab-portrait) {
        padding: 0 3rem;
    }


    @include responsive(phone-landscape) {
        max-width: 90rem;
        padding: 0 3rem;
    }


    @include responsive(phones) {
        max-width: 60rem;
        padding: 0 3rem;
    }


    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        @include responsive(tab-portrait) {
            margin-bottom: $gutter-vertical;
        }


        @include responsive(phone-landscape) {
            margin-bottom: $gutter-vertical-sm;
        }
        @include responsive(phones) {
            margin-bottom: $gutter-vertical-sm;
        }
    }

    @include clearfix;

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
            @include responsive(ipad) {
                margin-right: $gutter-horizontal;
                margin-bottom: $gutter-vertical-sm;
            }
            @include responsive(phone-landscape) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-sm;
            }
            @include responsive(phones) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-sm;
            }
             @include responsive(phone-xs) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-sm;
            }
        }

        @include responsive(phones) {
            width: 100% !important;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2 );
    }

    .col-1-of-3 {
        width: calc(( 100% - 2 * #{$gutter-horizontal}) / 3);
        @include responsive(ipad) {
            width: 45% !important;
            margin-right: $gutter-horizontal-sm;
        }
        @include responsive(phone-landscape) {
            width: 45% !important;
            margin-right: $gutter-horizontal-sm;
        }
         @include responsive(phones) {
            width: 100% !important;
        }
    }

    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);

        @include responsive(ipad) {
            width: 45% !important;
            margin-right: $gutter-horizontal-sm;
        }
         @include responsive(phone-landscape) {
            width: 45% !important;
            margin-right: $gutter-horizontal-sm;
        }
        @include responsive(phones) {
            width: 45% !important;
            margin-right: $gutter-horizontal-sm;
        }
        @include responsive(phone-xs) {
            width: 100% !important;
            margin-right: $gutter-horizontal-sm;
        }
    }

    .col-2-of-4 {
        width: calc( 2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
    }

    .col-3-of-4 {
        width: calc( 3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
    }
}