$primary-dark: rgba(131, 96, 195, 0.75);
$primary-light: rgba(46, 191, 145, 0.82);
$pure-white: #fff;

@import "_media.scss";


.centerForm {
    margin: 3rem auto;
}

.card-title {
    font-size: 2rem;
}

.mt-3 {
    margin-top: 3rem !important;
}

.mt-2 {
    margin-top: 2.5rem !important;
}

.card-padding {
    padding-right: 2rem;
    padding-left: 2rem;

    @include responsive(ipad) {
        padding-right: 0;
        padding-left: 0;
    }
}

.card-body-padding {
    padding-right: 2rem;
    padding-left: 2rem;
}

.card-header__bg {
    background: linear-gradient(to right bottom,
        $primary-dark,
        $primary-light) !important;
}

.font-16 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.center-align {
    text-align: center;
    margin: 0 auto;
}

.center-img {
    display: block;
    position: absolute;
    top: 100%;
    left: 15%;
    right: 0;
    transform: translate(-50%, -50%);
    margin: 1rem auto;

    @include responsive(ipad) {
        left: 25%;
    }

    @include responsive(phones) {
        left: 25%;
    }
}

.form-control,
.is-focused .form-control {
    background-image: linear-gradient(0deg,
        $primary-light 2px,
        rgba(156, 39, 176, 0) 0),
        linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
}

.btnn {

    &,
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 0.8rem 3rem;
        margin-right: 0.5em;
        display: inline-block;
        -webkit-border-radius: 10rem;
        border-radius: 10rem;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        position: relative;
        text-align: center;
        font-size: 1.3rem;
        margin-top: 2rem;
        margin-bottom: 3rem;

        // extra styles for <button> elements
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-0.3rem);
        -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);

        &::after {
            transform: scaleX(1.5) scaleY(1.7);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-0.1rem);
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    }

    &:disabled {
        background-color: lighten($primary-light, 25%);
        cursor: not-allowed;
        transform: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    &--gradient {
        background-color: $primary-light;
        color: $pure-white;
        font-weight: 300;
        letter-spacing: 0.2rem;

        &::after {
            background-color: $primary-light;
        }
    }

    &::after {
        content: "";
        height: 100%;
        width: 100%;
        -webkit-border-radius: 10rem;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    // animated button class
    &--animated {
        animation: moveInBottom 1.2s ease-in-out 0.3s;
        animation-fill-mode: backwards;
    }
}
