/* 
Media queries controller
0 - 600px --> phones
600px - 900px --> portrait tablets
900px - 1200px --> landscape tablets
1200 - 1800px --> default styles of the app.
1800px - infinity  --> big desktops

----------------------------------------------

1em = 16px
breakpoint variaibles
-- phones
-- tabletPortrait
-- tabletLandscape
-- bigDesktop
*/

@mixin responsive($breakpoint) {
    @if $breakpoint == phone-landscape {
        @media (max-width: 35.625em) {
            @content;
        }

        // 570px
    }
    @if $breakpoint == phones {
        @media (max-width: 29.06em) {
            @content;
        }

        // 600px
    }
     @if $breakpoint == phone-xs {
        @media (max-width: 18.75em) {
            @content;
        }

        // 300px
    }

    @if $breakpoint == tab-portrait {
        @media (max-width: 47.25em) {
            @content;
        }

        // 756px
    }
    @if $breakpoint == ipad {
        @media (max-width: 50.625em) {
            @content;
        }

        // 810px
    }

    @if $breakpoint == tab-landscape {
        @media (max-width: 75em) {
            @content;
        }

        // 1200px
    }

    @if $breakpoint == big-desktop {
        @media (max-width: 112.5em) {
            @content;
        }

        // 1800px
    }
}