// utility classes
.dc-center-text { text-align: center; }
.dc-left-text { text-align: left; }
.dc-right-text { text-align: right; }
.dc-mb-8 { margin-bottom: 8rem; }
.dc-mb-4 { margin-bottom: 4rem; }
.dc-mb-2 { margin-bottom: 1.5rem; }
.dc-mt-30 { margin-top: 30rem; }
.dc-mt-10 { margin-top: 10rem; }
.dc-mt-8 { margin-top: 8rem; }
.dc-medium-font {font-size: 2.5rem;}