// COLORS
$grey-color: #777;
$pure-black: #000;
$pure-white: #fff;
$black-grey: #222;
$grey-light-1: #f7f7f7;
$grey-light-2: #eee;
$grey-dark-1: #999;
$grey-dark-2: #333;
$primary-dark: rgba(131, 96, 195, 0.75);
$primary-light: rgba(46, 191, 145, 0.82);
$nav-color-light: rgb(46, 191, 145);
$nav-color-dark: rgb(131, 96, 195);
$error-color: #e65353;

// FONT SIZES
$text-font-size: 1.6rem;
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-sm: 2.3rem !important;

// MIXINS
@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;	
	}
}
@mixin absoluteCenter {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
}