@import url(https://fonts.googleapis.com/css?family=Nunito);/* 
Media queries controller
0 - 600px --> phones
600px - 900px --> portrait tablets
900px - 1200px --> landscape tablets
1200 - 1800px --> default styles of the app.
1800px - infinity  --> big desktops

----------------------------------------------

1em = 16px
breakpoint variaibles
-- phones
-- tabletPortrait
-- tabletLandscape
-- bigDesktop
*/
html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 47.25em) {
  html {
    font-size: 37.5%;
  }
}
@media (max-width: 29.06em) {
  html {
    font-size: 35.25%;
  }
}
@media (max-width: 29.06em) {
  html {
    font-size: 35.25%;
  }
}

/*  just a comment */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}

.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(46, 191, 145, 0.82), rgba(131, 96, 195, 0.75)), url("../img/static/code.jpeg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}
@media (max-width: 50.625em) {
  .header {
    height: 80vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 72vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 72vh, 0 100%);
  }
}
@media (max-width: 47.25em) {
  .header {
    height: 100vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
  }
}
@media (max-width: 35.625em) {
  .header {
    height: 100vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
  }
}
@media (max-width: 29.06em) {
  .header {
    height: 75vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  }
}
@media (max-width: 18.75em) {
  .header {
    height: 88vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 82vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 82vh, 0 100%);
  }
}
.header__logo-box {
  position: absolute;
  top: 2rem;
  left: -1rem;
}
@media (max-width: 35.625em) {
  .header__logo-box {
    top: 6rem;
    left: 1rem;
  }
}
@media (max-width: 18.75em) {
  .header__logo-box {
    top: 1rem;
    left: 0rem;
  }
}
.header__logo {
  height: 15rem;
}
@media (max-width: 50.625em) {
  .header__logo {
    height: 18rem;
  }
}
@media (max-width: 35.625em) {
  .header__logo {
    height: 12rem;
  }
}
.header__hero-container {
  position: absolute;
  top: 50%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 47.25em) {
  .header__hero-container {
    top: 55%;
    left: 38%;
    margin-top: 1rem;
  }
}
@media (max-width: 35.625em) {
  .header__hero-container {
    top: 58%;
    left: 38%;
    margin-top: 0;
  }
}
@media (max-width: 29.06em) {
  .header__hero-container {
    top: 46%;
    left: 38%;
    margin-top: 0;
  }
}
@media (max-width: 29.06em) {
  .header__hero-container {
    top: 46%;
    left: 48%;
    margin-top: 0;
    width: 85%;
  }
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 4rem;
}
.heading-primary--main {
  display: block;
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: 0.7rem;
  -webkit-animation-name: moveInLeft;
  animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
@media (max-width: 50.625em) {
  .heading-primary--main {
    font-size: 3rem;
    letter-spacing: 0.3rem;
  }
}
@media (max-width: 47.25em) {
  .heading-primary--main {
    font-size: 3rem;
    letter-spacing: 0.3rem;
  }
}
@media (max-width: 29.06em) {
  .heading-primary--main {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  max-width: 70%;
  -webkit-animation: moveInRight 1s ease-out;
  animation: moveInRight 1s ease-out;
}
@media (max-width: 35.625em) {
  .heading-primary--sub {
    max-width: 100%;
    font-size: 1.3rem;
  }
}
@media (max-width: 29.06em) {
  .heading-primary--sub {
    max-width: 100%;
    font-size: 1.5rem;
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(6rem);
    transform: translateY(6rem);
  }
  80% {
    -webkit-transform: translateY(-0.8rem);
    transform: translateY(-0.8rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(6rem);
    transform: translateY(6rem);
  }
  80% {
    -webkit-transform: translateY(-0.8rem);
    transform: translateY(-0.8rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  margin-right: 0.5em;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.4s;
  position: relative;
  text-align: center;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
}
@media (max-width: 29.06em) {
  .btn, .btn:link, .btn:visited {
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
  }
}
.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(1.7);
          transform: scaleX(1.5) scaleY(1.7);
  opacity: 0;
}
.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.btn:disabled {
  background-color: rgba(138, 227, 199, 0.82);
  cursor: not-allowed;
  -webkit-transform: none;
          transform: none;
  box-shadow: none;
}
.btn--white {
  background-color: #fff;
  color: #222;
  font-weight: 600;
}
.btn--white::after {
  background-color: #fff;
}
.btn--gradient {
  background-color: rgba(46, 191, 145, 0.82);
  color: #fff;
  font-weight: 600;
}
.btn--gradient::after {
  background-color: rgba(46, 191, 145, 0.82);
}
.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--black {
  background-color: #000;
  color: #fff;
  font-weight: 400;
}
.btn--animated {
  -webkit-animation: moveInBottom 1.2s ease-in-out 0.3s;
          animation: moveInBottom 1.2s ease-in-out 0.3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.section-about {
  background-color: #f7f7f7;
  margin-top: -15vh;
  padding: 25rem 0;
}
@media (max-width: 29.06em) {
  .section-about {
    padding: 20rem 0;
    margin-top: -10vh;
  }
}

.heading-secondary {
  background-image: linear-gradient(to right, rgba(46, 191, 145, 0.82), rgba(131, 96, 195, 0.75));
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  -o-background-clip: text;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
.heading-secondary:hover {
  -webkit-transform: skewY(2deg) skewX(15deg);
  transform: skewY(2deg) skewX(15deg);
}

.heading-small {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.btn-text, .btn-text:link, .btn-text:visited {
  color: rgba(46, 191, 145, 0.82);
  display: inline-block;
  text-decoration: none;
  border: 0;
  border-bottom: 1px solid rgba(46, 191, 145, 0.82);
  padding: 0.3rem;
  font-size: 2.4rem;
  font-weight: 600;
  transition: all 0.3s;
  background: transparent;
}
.btn-text:hover {
  background: rgba(46, 191, 145, 0.82);
  color: #f7f7f7;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.img-wrapper {
  position: relative;
}
.img-wrapper__photo {
  width: 60%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 5;
  outline-offset: 1.4rem;
  transition: all 0.3s;
}
@media (max-width: 29.06em) {
  .img-wrapper__photo {
    width: 33.333%;
    float: left;
    position: relative;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  }
}
.img-wrapper__photo--p1 {
  left: 0;
  top: -2rem;
}
@media (max-width: 29.06em) {
  .img-wrapper__photo--p1 {
    top: 3rem;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.img-wrapper__photo--p2 {
  right: 0;
  top: 2rem;
}
@media (max-width: 29.06em) {
  .img-wrapper__photo--p2 {
    top: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
.img-wrapper__photo--p3 {
  left: 20%;
  top: 10rem;
}
@media (max-width: 29.06em) {
  .img-wrapper__photo--p3 {
    top: 3rem;
    left: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    z-index: 0;
  }
}
.img-wrapper__photo:hover {
  -webkit-transform: scale(1.1) translateY(-1rem);
          transform: scale(1.1) translateY(-1rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 30;
  outline: 1rem solid rgba(46, 191, 145, 0.82);
}
@media (max-width: 29.06em) {
  .img-wrapper__photo:hover {
    -webkit-transform: scale(1.4) translateY(-1rem);
            transform: scale(1.4) translateY(-1rem);
  }
}
.img-wrapper:hover .img-wrapper__photo:not(:hover) {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(46, 191, 145, 0.82), rgba(131, 96, 195, 0.75)), url("../img/static/plan.jpg");
  background-size: cover;
  background-position: center;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  margin-top: -7rem;
}
@media (max-width: 29.06em) {
  .section-features {
    padding: 20rem 0;
  }
}
.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.feature-box {
  background: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
}
.feature-box__icon {
  font-size: 6rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(to right, rgba(46, 191, 145, 0.82), rgba(131, 96, 195, 0.75));
  -o-background-clip: text;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.feature-box span {
  display: block;
  width: 100%;
}
.feature-box span i {
  color: green;
}

.section-bookings {
  padding: 15rem 0;
  background: linear-gradient(to right bottom, rgba(131, 96, 195, 0.75), rgba(46, 191, 145, 0.82));
}

.book {
  background-image: linear-gradient(96deg, #d3e6df 0%, rgba(219, 218, 226, 0.9) 50%, transparent 50%), url("../img/static/book.jpg");
  background-size: 100%;
  border-radius: 0.3rem;
  background-position: center right;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
@media (max-width: 50.625em) {
  .book {
    background-image: linear-gradient(90deg, #d3e6df 0%, rgba(219, 218, 226, 0.9) 70%, transparent 70%), url("../img/static/book.jpg");
  }
}
@media (max-width: 35.625em) {
  .book {
    background-image: linear-gradient(90deg, #d3e6df 0%, rgba(219, 218, 226, 0.9) 70%, transparent 70%), url("../img/static/book.jpg");
  }
}
@media (max-width: 29.06em) {
  .book {
    background-image: linear-gradient(90deg, #d3e6df 0%, rgba(219, 218, 226, 0.9) 100%, transparent 100%), url("../img/static/book.jpg");
  }
}
.book p {
  padding: 2rem 0;
}
.book p span {
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  color: #333;
}
.book__bookings-form {
  width: 50%;
  padding: 6rem;
}
@media (max-width: 50.625em) {
  .book__bookings-form {
    width: 70%;
    padding: 4rem;
  }
}
@media (max-width: 35.625em) {
  .book__bookings-form {
    width: 70%;
    padding: 4rem;
  }
}
@media (max-width: 29.06em) {
  .book__bookings-form {
    width: 100%;
    padding: 4rem;
  }
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  font-family: inherit;
  color: inherit;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(46, 191, 145, 0.82);
}
.form__input:focus:invalid {
  border-bottom: 3px solid #e65353;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.footer {
  background-color: #333;
  color: #f7f7f7;
  padding: 1rem 0;
  font-size: 1.4rem;
}
@media (max-width: 47.25em) {
  .footer {
    padding: 8rem 0;
  }
}
@media (max-width: 29.06em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__logo-box {
  text-align: center;
}
.footer__logo {
  width: 30rem;
  height: auto;
}
.footer__navigation {
  border-top: 1px solid #eee;
  padding-top: 2rem;
  display: inline-block;
}
@media (max-width: 47.25em) {
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 29.06em) {
  .footer__navigation {
    width: 100%;
    text-align: center;
    float: none;
  }
}
.footer__links:link, .footer__links:visited {
  background-color: #333;
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer__links:hover, .footer__links:active {
  color: rgba(46, 191, 145, 0.82);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(6deg) scale(1.3);
          transform: rotate(6deg) scale(1.3);
}
.footer__copyright {
  border-top: 1px solid #eee;
  background-color: #333;
  padding-top: 2rem;
  width: 80%;
  float: right;
}
@media (max-width: 29.06em) {
  .footer__copyright {
    width: 100%;
    text-align: left;
  }
}

.lang-icon {
  text-align: center;
  display: inline-block;
  width: 10rem;
}

.navigation__checkbox {
  display: none;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#2ebf91, #8360c3);
  z-index: 10;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}
@media (max-width: 35.625em) {
  .navigation__background {
    top: 8.5rem;
  }
}
@media (max-width: 29.06em) {
  .navigation__background {
    top: 4.5rem;
  }
}
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 20;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
}
@media (max-width: 35.625em) {
  .navigation__button {
    top: 8.5rem;
  }
}
@media (max-width: 29.06em) {
  .navigation__button {
    top: 4rem;
  }
}
.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 15;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
@media (max-width: 29.06em) {
  .navigation__list {
    top: 45%;
  }
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240% !important;
  transition: all 0.4s;
}
.navigation__link:hover, .navigation__link:active {
  -webkit-background-position: 100% !important;
  -o-background-position: 100% !important;
  background-position: 100% !important;
  color: #2ebf91;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.team-section {
  background-color: #f7f7f7;
  margin-top: -15rem;
  padding: 20rem 0;
}

.card {
  position: relative;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  transition: all 0.3s ease;
}
.card__image {
  height: 23rem;
  background-image: linear-gradient(to right bottom, rgba(131, 96, 195, 0.75), rgba(46, 191, 145, 0.82)), url(../img/static/plan.jpg);
  background-size: cover;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__heading {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: right;
  position: absolute;
  top: 6rem;
  left: 14rem;
  width: 54%;
}
@media (max-width: 29.06em) {
  .card__heading {
    width: 25%;
    left: 35rem;
    font-size: 2.4rem;
    top: 8rem;
  }
}
@media (max-width: 18.75em) {
  .card__heading {
    width: 25%;
    left: 24rem;
    font-size: 2.4rem;
    top: 8rem;
  }
}
.card__heading-span {
  padding: 0.8rem 1.5rem;
  -webkit-box-decoration-break: clone;
  -moz-box-decoration-break: clone;
  box-decoration-break: clone;
  background: linear-gradient(to right bottom, rgba(131, 96, 195, 0.85), rgba(46, 191, 145, 0.8));
}
.card__dev-img {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
}
.card__dev-img img {
  width: 16rem;
  border-radius: 8rem;
}
@media (max-width: 29.06em) {
  .card__dev-img img {
    width: 12rem;
    border-radius: 6rem;
  }
}
.card__details {
  margin: 10rem 0 2rem 0;
  position: relative;
  display: block;
  text-align: center;
}
.card__details h4 {
  font-size: 2.4rem;
  font-weight: 800;
}
.card__details h5 {
  font-size: 1.6rem;
  font-weight: 600;
}
.card__social-links {
  text-align: center;
  margin: 1rem 0 3rem 0;
}
.card__social-links p {
  font-size: 1.3rem;
}
.card__social-links img {
  margin-top: 2rem;
  width: 5rem;
  padding: 0.8rem;
}
@media (max-width: 29.06em) {
  .card__social-links img {
    width: 6rem;
  }
}

.section-connect {
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../img/static/plan.jpg);
  background-size: cover;
  height: 30rem;
  background-attachment: fixed;
  text-align: center;
}

.social {
  padding: 10rem 0;
  text-align: center;
  display: block;
  position: relative;
}
@media (max-width: 18.75em) {
  .social {
    padding: 3rem 0;
  }
}
.social p {
  font-weight: 600;
  font-size: 2.6rem;
  color: #fff;
  position: absolute;
  float: left;
  top: 50%;
  left: 18%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 50.625em) {
  .social p {
    display: block;
    position: relative;
    float: none;
    top: 0;
    left: 0;
    -webkit-transform: none;
    transform: none;
  }
}
@media (max-width: 35.625em) {
  .social p {
    width: 45% !important;
    margin-right: 2.3rem !important;
  }
}
@media (max-width: 29.06em) {
  .social p {
    display: block;
    position: relative;
    float: none;
    top: 0;
    left: 0;
    -webkit-transform: none;
    transform: none;
    width: 100% !important;
  }
}
.social img {
  width: 10rem;
  padding: 2rem;
}

.heading-4 {
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
  color: #eee;
  padding: 1rem;
}

.subheading-2 {
  color: #eee;
  font-size: 1.6rem;
  font-weight: 300;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.popup {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup__active {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 29.06em) {
  .popup {
    display: block;
  }
}
.popup__active .popup__content {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  width: 85%;
  display: table;
  padding: 3rem;
  -webkit-transform: translate(-50%, -50%) scale(0.25);
  transform: translate(-50%, -50%) scale(0.25);
  opacity: 0;
  transition: all 0.5s 0.2s;
}
@media (max-width: 29.06em) {
  .popup__content {
    width: 90%;
  }
}
.popup__left {
  width: 33.3333%;
  display: table-cell;
}
@media (max-width: 29.06em) {
  .popup__left {
    display: none;
  }
}
.popup__right {
  width: 66.66666%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 6rem;
}
@media (max-width: 29.06em) {
  .popup__right {
    width: 90%;
    padding-left: 3rem;
  }
}
.popup__img {
  display: block;
  width: 100%;
  margin-top: 1rem;
}
.popup__toptext {
  width: 80%;
  padding-left: 2rem;
}
.popup p {
  font-size: 1.4rem;
}
.popup .form__input {
  background-color: rgba(0, 0, 0, 0.2);
}
.popup .form__group:not(:last-child) {
  margin-top: 2rem;
}
.popup .form {
  padding-left: 2rem;
}
.popup__close, .popup__close:visited, .popup__close:link {
  color: #333;
  position: absolute;
  top: 0.2rem;
  right: 2.5rem;
  font-size: 5rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
  border: 0;
  background: transparent;
}
.popup__close:hover {
  color: rgba(46, 191, 145, 0.82);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
@media (max-width: 50.625em) {
  .row {
    padding: 0 3rem;
  }
}
@media (max-width: 47.25em) {
  .row {
    padding: 0 3rem;
  }
}
@media (max-width: 35.625em) {
  .row {
    max-width: 90rem;
    padding: 0 3rem;
  }
}
@media (max-width: 29.06em) {
  .row {
    max-width: 60rem;
    padding: 0 3rem;
  }
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 47.25em) {
  .row:not(:last-child) {
    margin-bottom: 8rem;
  }
}
@media (max-width: 35.625em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media (max-width: 29.06em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 50.625em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 6rem;
    margin-bottom: 6rem;
  }
}
@media (max-width: 35.625em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 29.06em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 18.75em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 29.06em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2 );
}
.row .col-1-of-3 {
  width: calc(( 100% - 2 * 6rem) / 3);
}
@media (max-width: 50.625em) {
  .row .col-1-of-3 {
    width: 45% !important;
    margin-right: 2.3rem !important;
  }
}
@media (max-width: 35.625em) {
  .row .col-1-of-3 {
    width: 45% !important;
    margin-right: 2.3rem !important;
  }
}
@media (max-width: 29.06em) {
  .row .col-1-of-3 {
    width: 100% !important;
  }
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
@media (max-width: 50.625em) {
  .row .col-1-of-4 {
    width: 45% !important;
    margin-right: 2.3rem !important;
  }
}
@media (max-width: 35.625em) {
  .row .col-1-of-4 {
    width: 45% !important;
    margin-right: 2.3rem !important;
  }
}
@media (max-width: 29.06em) {
  .row .col-1-of-4 {
    width: 45% !important;
    margin-right: 2.3rem !important;
  }
}
@media (max-width: 18.75em) {
  .row .col-1-of-4 {
    width: 100% !important;
    margin-right: 2.3rem !important;
  }
}
.row .col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.dc-center-text {
  text-align: center;
}

.dc-left-text {
  text-align: left;
}

.dc-right-text {
  text-align: right;
}

.dc-mb-8 {
  margin-bottom: 8rem;
}

.dc-mb-4 {
  margin-bottom: 4rem;
}

.dc-mb-2 {
  margin-bottom: 1.5rem;
}

.dc-mt-30 {
  margin-top: 30rem;
}

.dc-mt-10 {
  margin-top: 10rem;
}

.dc-mt-8 {
  margin-top: 8rem;
}

.dc-medium-font {
  font-size: 2.5rem;
}