.landing__bg {
    background: url(../svg/bg-lg.svg) no-repeat !important;
    background-size: cover !important;
    background-position: center;
    height: 750px;
    width: 100%;
}
.spacing {
    height: 900px;
    width: 100%;
    background: transparent;
}
#contact__body {
    background: url(../svg/contact-lg.svg) no-repeat !important;
    background-size: cover !important;
    background-position: center center;
    width: 100%;
    height: auto;
}
@media screen and (max-width: 1060px) {
    .landing__bg {
        background: url(../svg/bg-md.svg) no-repeat !important;
        width: 100%;
        height: 100vh;
        background-size: cover !important;
        background-position: center;
    }
    #contact__body {
        background: url(../svg/contact.svg) no-repeat !important;
        background-size: cover !important;
        background-position: center center;
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 480px) {
    .landing__bg {
        background: url(../svg/bg-small.svg) no-repeat !important;
        width: 100%;
        height: 100%;
        background-size: cover !important;
        background-position: center;
    }
    #contact__body {
        background: url(../svg/contact.svg) no-repeat !important;
        background-size: cover !important;
        background-position: center center;
        width: 100%;
        height: auto;
    }
}
