/* 
Media queries controller
0 - 600px --> phones
600px - 900px --> portrait tablets
900px - 1200px --> landscape tablets
1200 - 1800px --> default styles of the app.
1800px - infinity  --> big desktops

----------------------------------------------

1em = 16px
breakpoint variaibles
-- phones
-- tabletPortrait
-- tabletLandscape
-- bigDesktop
*/
.centerForm {
  margin: 3rem auto;
}

.card-title {
  font-size: 2rem;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-2 {
  margin-top: 2.5rem !important;
}

.card-padding {
  padding-right: 2rem;
  padding-left: 2rem;
}
@media (max-width: 50.625em) {
  .card-padding {
    padding-right: 0;
    padding-left: 0;
  }
}

.card-body-padding {
  padding-right: 2rem;
  padding-left: 2rem;
}

.card-header__bg {
  background: linear-gradient(to right bottom, rgba(131, 96, 195, 0.75), rgba(46, 191, 145, 0.82)) !important;
}

.font-16 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.center-align {
  text-align: center;
  margin: 0 auto;
}

.center-img {
  display: block;
  position: absolute;
  top: 100%;
  left: 15%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 1rem auto;
}
@media (max-width: 50.625em) {
  .center-img {
    left: 25%;
  }
}
@media (max-width: 29.06em) {
  .center-img {
    left: 25%;
  }
}

.form-control,
.is-focused .form-control {
  background-image: linear-gradient(0deg, rgba(46, 191, 145, 0.82) 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, rgba(209, 209, 209, 0) 0);
}

.btnn, .btnn:link, .btnn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.8rem 3rem;
  margin-right: 0.5em;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.4s;
  position: relative;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border: none;
  cursor: pointer;
}
.btnn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.btnn:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(1.7);
          transform: scaleX(1.5) scaleY(1.7);
  opacity: 0;
}
.btnn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.btnn:disabled {
  background-color: rgba(138, 227, 199, 0.82);
  cursor: not-allowed;
  -webkit-transform: none;
          transform: none;
  box-shadow: none;
}
.btnn--gradient {
  background-color: rgba(46, 191, 145, 0.82);
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.2rem;
}
.btnn--gradient::after {
  background-color: rgba(46, 191, 145, 0.82);
}
.btnn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btnn--animated {
  -webkit-animation: moveInBottom 1.2s ease-in-out 0.3s;
          animation: moveInBottom 1.2s ease-in-out 0.3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}