<template>
<div>
    <section class="section-about" id="about">
        <div class="dc-center-text dc-mb-4">
            <h2 class="heading-secondary"> Empowering Your Dreams &amp; Ideas </h2>
        </div>
        <div class="row">
            <div class="col-1-of-2">
                <h3 class="heading-small dc-mb-2">We Care </h3>
                <p class="paragraph">SurgeCode is a product design and development company committed to helping businesses kickstart, develop, and succeed. SurgeCode has implemented innovative ideas that allowed small businesses to scale, evolve, and prosper in a range of business domains. We are dedicated to making your ideas become a reality, we also give prompt support to our clients whenever needed.</p>
                <button class="btn-text" id="openModal2">Get in touch &rarr;</button>
            </div>
            <div class="col-1-of-2">
               <div class="img-wrapper">
                   <img src="/img/projects/cas.gif" alt="" class="img-wrapper__photo img-wrapper__photo--p1">
                   <img src="/img/projects/cac.gif" alt="" class="img-wrapper__photo img-wrapper__photo--p2">
                   <img src="/img/projects/scpc.gif" alt="" class="img-wrapper__photo img-wrapper__photo--p3">
               </div>
            </div>
        </div>
    </section>
</div>
</template>
<script>
export default {
mounted() {
console.log('Component mounted.')
}
}
</script>