<template>
  <div>
    <section class="section-connect">
      <div class="social">
        <div class="row">
          <p>Connect With Us:</p>
          <a href="mailto:surgecodes@gmail.com" title="Gmail" target="_blank">
            <img src="/img/social/gmail-x100.svg" alt="gmail">
          </a>
          <a href="https://www.facebook.com/surgecodes/" title="Facebook" target="_blank">
            <img src="/img/social/facebook-x100.svg" alt="facebook">
          </a>
          <a href="https://www.instagram.com/surge_code/" title="Instagram" target="_blank">
            <img src="/img/social/instagram-x100.svg" alt="instagram">
          </a>
          <a
            href="https://www.youtube.com/channel/UCGES4Lprs5rDSVwH0xM5upA"
            title="Youtube"
            target="_blank"
          >
            <img src="/img/social/youtube-x100.svg" alt="youtube">
          </a>
          <a href="tel:+2349013747651" title="Call Us">
            <img src="/img/phone.png" alt="twitter">
          </a>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "connectComponent",

  data() {
    return {};
  }
};
</script>

<style lang="css" scoped>
</style>
