<template>
  <div>
    <div class="book__booking-form">
      <img src="/svg/loading.gif" class="loader" v-if="loading">
      <div class="dc-left-text dc-mb-2">
        <h4 class="heading-secondary dc-medium-font">Start Your Project Today.</h4>
        <p>
          <span>Our team is capable of building your product from A to Z.</span>
          <span>
            Please fill out every details of the form below, we will get back
            to you as soon as possible, we love you and have a blessed day
          </span>
        </p>
      </div>
      <form class="form" method="post" @submit.prevent="onSubmit">
        <div class="form__group">
          <input
            class="form__input"
            id="client_name"
            type="text"
            placeholder="Enter your name"
            required="true"
            v-model="clients.fullname"
          >
          <label class="form__label" for="client_name">Your Name</label>
        </div>
        <div class="form__group">
          <input
            class="form__input"
            id="client_mail"
            type="email"
            placeholder="Enter Your mail"
            required="true"
            v-model="clients.email"
          >
          <label class="form__label" for="client_mail">Your Email</label>
        </div>
        <div class="form__group">
          <input
            class="form__input"
            id="client_phone"
            type="text"
            placeholder="Enter your phone number"
            required="false"
            v-model="clients.phone"
          >
          <label class="form__label" for="client_phone">Your Phone Number</label>
        </div>
        <button type="submit" class="btn btn--gradient" :disabled="loading">
          Get In Touch
          <div class="lds-ring-container"></div>
        </button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      clients: {
        fullname: null,
        email: null,
        phone: null
      },
      loading: false
    };
  },
  methods: {
    onSubmit() {
      this.$Progress.start();
      this.loading = true;
      axios
        .post("/api/clients", this.clients)
        .then(({ data }) => {
          this.loading = false;
          this.setSuccessMessage(data);
        })
        .catch(() => {
          this.loading = false;
          this.setErrors();
        });
    },
    setErrors() {
      Swal.fire({
        position: "top-end",
        type: "error",
        title: "Sorry something went wrong, try again thanks.",
        showConfirmButton: false,
        timer: 3500
      });
      this.$Progress.fail();
    },

    setSuccessMessage(data) {
      Swal.fire({
        position: "top-end",
        type: "success",
        title:
          data.data.fullname +
          "  Your Message has been sent successfully. We will contact you shortly thanks.",
        showConfirmButton: false,
        timer: 3500
      });
      this.$Progress.finish();
      this.reset();
    },

    reset() {
      this.errors = [];
      this.clients = { name: null, email: null, body: null };
    }
  }
};
</script>
