<template>
<div>
    <section class="section-features" id="service">
        <h3 class="dc-center-text heading-4">What We Offer</h3>
        <p class="dc-center-text dc-mb-8 subheading-2">The success of your business is our biggest priority.</p>
        <div class="row">
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-webpage-multiple"></i>
                    <h3 class="heading-small dc-mb-2">Business Branding</h3>
                    <span> <i class="icon-basic-geolocalize-01"></i>Business Logo Design.</span>
                    <span> <i class="icon-basic-geolocalize-01"></i>Business Cards Design.</span>
                    <span> <i class="icon-basic-geolocalize-01"></i>Social Media Marketing.</span>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-webpage-multiple"></i>
                    <h3 class="heading-small dc-mb-2">Web Development</h3>
                    <span> <i class="icon-basic-geolocalize-01"></i>Business Websites.</span>
                    <span><i class="icon-basic-geolocalize-01"></i>Responsive Designs.</span>
                    <span> <i class="icon-basic-geolocalize-01"></i>Business Softwares.</span>
                    <span> <i class="icon-basic-geolocalize-01"></i>Website Maintenance.</span>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-world"></i>
                    <h3 class="heading-small dc-mb-2">E-commerce Solutions</h3>
                    
                    <span><i class="icon-basic-geolocalize-01"></i>Online Store Maintenance</span>
                    <span><i class="icon-basic-geolocalize-01"></i>Real Time Onine Stores</span>
                    <span><i class="icon-basic-geolocalize-01"></i>Wordpress applications</span>
                    
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-world"></i>
                    <h3 class="heading-small dc-mb-2">Customer Support</h3>
                    <p> We offer all our clients full attention and prompt response regarding  our services.</p>
                    
                </div>
            </div>
        </div>
    </section>
</div>
</template>
<script>
export default {
mounted() {
console.log('Component mounted.')
}
}
</script>