<template>
<div>
	<footer class="footer">
		<div class="footer__logo-box">
			<img src="/img/logo/logo-l.png" alt="surgecode logo" class="footer__logo">
		</div>
		<div class="row">
			<div class="col-1-of-2">
				<div class="footer__navigation">
					<ul class="footer__list">
						<li class="footer__item">
							<a href="#about" class="footer__links">Company</a>
						</li>
						<li class="footer__item">
							<a href="#service" class="footer__links">Services</a>
						</li>
						<li class="footer__item">
							<a href="#team" class="footer__links">Our Team</a>
						</li>
						<li class="footer__item">
							<a href="#contact" class="footer__links">Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-1-of-2">
				<p class="footer__copyright"> Built &amp; Powered by <a href="#" class="footer__links">SurgeCode web solututions</a>. Copyright &copy; by SurgeCode Web Solutions. </p>
			</div>
		</div>
		<div class="row">
				<div class="dc-center-text">
					<h2 class="dc-center-text">Built with &#x1f609;</h2>
				<img src="/img/static/laravel.png" class="lang-icon"> 
				<img src="/img/static/vue.png" class="lang-icon">
				</div>
		</div>
	</footer>
</div>
</template>
<script>
export default {
name: 'FooterComponent',
data() {
return {
};
},
};
</script>
<style lang="css" scoped>
</style>