<template>
<div>
    <header class="header">
        <div class="header__logo-box">
            <img src="/img/logo/logo-l.png" class="header__logo" alt="logo">
        </div>
        <div class="header__hero-container">
            <h1 class="heading-primary">
            <span class="heading-primary--main">SurgeCode Web Solutions</span>
            <span class="heading-primary--sub">We are focused on providing web solutions for businesses ranging from logo
                design to developing websites, web applications or
            E-commerce solutions, we've got you covered.</span>
            </h1>
            <a href="#service" class="btn btn--white btn--animated">Our Services</a>
            <a  id="openModal" class="btn btn--black">Work With Us</a>
        </div>
    </header>
    <div class="popup" id="popup">
        <div class="popup__content">
            <div class="popup__left">
                <img src="/img/projects/profpius.gif" alt="" class="popup__img">
                <img src="/img/projects/scpc.gif" alt="" class="popup__img">
            </div>
            <div class="popup__right">
                <button class="popup__close">&times;</button>
                <div class="popup__toptext">
                <h4 class="heading-secondary dc-medium-font">Get Your Business Online Today.</h4>
                <p>
                    <span>
                       we will get back
                        to you as soon as possible, we love you and have a blessed day
                    </span>
                </p>
            </div>
                <form class="form" method="post" @submit.prevent="onSubmit">
                    <div class="form__group">
                        <input
                        class="form__input"
                        id="client_name"
                        type="text"
                        placeholder="Enter your name"
                        required="true"
                        v-model="clients.fullname"
                        >
                        <label class="form__label" for="client_name">Your Name</label>
                    </div>
                    <div class="form__group">
                        <input
                        class="form__input"
                        id="client_mail"
                        type="email"
                        placeholder="Enter Your mail"
                        required="true"
                        v-model="clients.email"
                        >
                        <label class="form__label" for="client_mail">Your Email</label>
                    </div>
                    <div class="form__group">
                        <input
                        class="form__input"
                        id="client_phone"
                        type="text"
                        placeholder="Enter your phone number"
                        required="false"
                        v-model="clients.phone"
                        >
                        <label class="form__label" for="client_phone">Your Phone Number</label>
                    </div>
                    <button type="submit" class="btn btn--gradient" :disabled="loading">
                    Get In Touch
                    <div class="lds-ring-container"></div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
data() {
return {
clients: {
fullname: null,
email: null,
phone: null
},
loading: false
};
},
methods: {
onSubmit() {
this.$Progress.start();
this.loading = true;
axios
.post("/api/clients", this.clients)
.then(({ data }) => {
this.loading = false;
this.setSuccessMessage(data);
})
.catch(() => {
this.loading = false;
this.setErrors();
});
},
setErrors() {
Swal.fire({
position: "top-end",
type: "error",
title: "Sorry something went wrong, try again thanks.",
showConfirmButton: false,
timer: 3500
});
this.$Progress.fail();
},
setSuccessMessage(data) {
Swal.fire({
position: "top-end",
type: "success",
title:
data.data.fullname +
"  Your Message has been sent successfully. We will contact you shortly thanks.",
showConfirmButton: false,
timer: 3500
});
this.$Progress.finish();
this.reset();
},
reset() {
this.errors = [];
this.clients = { name: null, email: null, body: null };
}
}
};
</script>