<template>
    <div>
        <div class="navigation">
        	<input type="checkbox" id="nav-toggle" class="navigation__checkbox">
        	<label class="navigation__button" for="nav-toggle"><span class="navigation__icon">&nbsp;</span></label>

        	<div class="navigation__background">&nbsp;</div>
        	<nav class="navigation__nav">
                <img src="/img/logo/logo-l.png" class="header__logo" alt="logo">
        		<ul class="navigation__list">
        			<li class="navigation__item"><a href="#about" class="navigation__link" id="link-1">About Us</a></li>
        			<li class="navigation__item"><a href="#service" class="navigation__link">Services</a></li>
        			<li class="navigation__item"><a href="#team" class="navigation__link">Our Team</a></li>
        			<li class="navigation__item"><a href="" class="navigation__link">Blog</a></li>
        			<li class="navigation__item"><a href="#contact" class="navigation__link">Contact Us</a></li>
        			<li class="navigation__item"><a href="/login" class="navigation__link">Login</a></li>
        		</ul>
        	</nav>
        </div>
    </div>
</template>

<script>

    export default {

    }
</script>
