<template>
  <div>
    <section class="team-section" id="team">
      <div class="dc-center-text dc-mb-4 dc-mt-8">
        <h2 class="heading-secondary">Our Team</h2>
      </div>
      <div class="row">
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__image">&nbsp;</div>
            <h4 class="card__heading">
              <span class="card__heading-span">A.K.A DropCode</span>
            </h4>
            <div class="card__dev-img">
              <img src="/img/avatar/profile-pic-xs.jpg">
            </div>
            <div class="card__details">
              <h4>Owolabi Joshua</h4>
              <h5>Full Stack Developer</h5>
              <div class="card__social-links">
                <p>Social Links</p>
                <a href="mailto:dropcodetuts@gmail.com" title="Gmail" target="_blank">
                  <img src="/img/social/gmail-x100.svg" alt="gmail">
                </a>
                <a href="https://www.facebook.com/owolabi.joshua" title="facebook" target="_blank">
                  <img src="/img/social/facebook-x100.svg" alt="facebook">
                </a>
                <a href title="Instagram" target="_blank">
                  <img src="/img/social/instagram-x100.svg" alt="instagram">
                </a>
                <a
                  href="https://www.youtube.com/channel/UCGES4Lprs5rDSVwH0xM5upA"
                  title="Youtube"
                  target="_blank"
                >
                  <img src="/img/social/youtube-x100.svg" alt="youtube">
                </a>
                <a href="https://www.twitter.com/DTuts" title="Twitter" target="_blank">
                  <img src="/img/social/twitter-x100.svg" alt="twitter">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__image">&nbsp;</div>
            <h4 class="card__heading">
              <span class="card__heading-span">A.K.A Camazing</span>
            </h4>
            <div class="card__dev-img">
              <img src="/img/avatar/ananti.jpg">
            </div>
            <div class="card__details">
              <h4>Ananti Chukwudi</h4>
              <h5>Graphics Designer</h5>
              <div class="card__social-links">
                <p>Social Links</p>
                <a href="mailto:wilson14.ca@gmail.com" title="Gmail" target="_blank">
                  <img src="/img/social/gmail-x100.svg" alt="gmail">
                </a>
                <a href="https://www.facebook.com/camazingdesign" title="Facebook" target="_blank">
                  <img src="/img/social/facebook-x100.svg" alt="facebook">
                </a>
                <a href="https://www.instagram.com/chuks_amazing" title="Instagram" target="_blank">
                  <img src="/img/social/instagram-x100.svg" alt="instagram">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__image">&nbsp;</div>
            <h4 class="card__heading">
              <span class="card__heading-span">A.K.A Klev</span>
            </h4>
            <div class="card__dev-img">
              <img src="/img/avatar/klev.jpg">
            </div>
            <div class="card__details">
              <h4>Ugbeshe Abraham</h4>
              <h5>Back End Developer</h5>
              <div class="card__social-links">
                <p>Social Links</p>
                <a href="mailto:abrahamugbeshe@gmail.com" title="Gmail" target="_blank">
                  <img src="/img/social/gmail-x100.svg" alt="gmail">
                </a>
                <a href="https://www.facebook.com/klefcodes" title="Facebook" target="_blank">
                  <img src="/img/social/facebook-x100.svg" alt="facebook">
                </a>
                <a href="https://www.instagram.com/klefcodes" title="Instagram" target="_blank">
                  <img src="/img/social/instagram-x100.svg" alt="instagram">
                </a>
                <a href="https://www.twitter.com/klefcodes" title="Twitter" target="_blank">
                  <img src="/img/social/twitter-x100.svg" alt="twitter">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  name: "TeamComponent",
  data() {
    return {};
  }
};
</script>
<style lang="css" scoped>
</style>
